<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Vue Todo</title>
    <style>
      .completed {
        text-decoration: line-through;
      }

      .selected {
        color: red;
      }

      .empty {
        border-color: red;
      }

      .hide {
        visibility: hidden;
      }
    </style>
  </head>
  <body>
    <div id="todo-app">
      <div>
        <!-- <input type="button" value="全部標記完成"> -->
        <input type="text" v-bind:class="{empty:!newTodo.length}" placeholder="添加todo" v-model="newTodo" @keyup.enter="addTodo">
      </div>
      <ul>
        <li v-for='todo in filteredTodos' :key='todo.id'>
          <span v-if="!todo.isEditing" :class="{completed: todo.completed}" @dblclick="startEdit(todo)">{{todo.title}}</span>
          <input v-if="todo.isEditing" v-focus="true" type="text" placeholder="編輯 todo" v-model="todo.title" @keyup.enter="editTodo(todo)" @keyup.esc="cancelEdit(todo)">
          <!-- <input v-if="todo.isEditing" type="button" value="取消編輯" @click="cancelEdit(todo)"> -->
          <input v-if="!todo.completed" type="button" value="標記完成" @click="markCompleted(todo)">
          <input v-else="!todo.completed" type="button" value="標記未完成" @click="markUncompleted(todo)">
          <input type="button" value="刪除" @click="deleteTodo(todo)">
          <!-- <input v-if="!todo.isEditing" type="button" value="編輯" @click="startEdit(todo)"> -->
          <input v-if="todo.lastChange && !todo.isEditing" type="button" value="撤銷修改" @click="undoTodo(todo)">
        </li>
      </ul>
      <!-- end todo list -->
      <span v-if="todoList.length==0">輸入待辦事項後點擊Enter鍵新增</span>
      <div v-else="todoList.length==0">
        <span v-if="unCompleteCount>0">剩下{{unCompleteCount}}個任務未完成</span>
        <span v-else="unCompleteCount>0">太棒了，你已經完成所有待辦事項</span>
        <br>
        <span>篩選：
          <input type="button" value="全部" :class="{selected: filter=='all'}" @click="filter='all'">
          <input type="button" value="未完成" :class="{selected: filter=='uncomplete'}" @click="filter='uncomplete'">
          <input type="button" value="已完成" :class="{selected: filter=='completed'}" @click="filter='completed'">
        </span>
        <br>
        <span>操作：
          <input type="button" value="清除已完成" @click="clearCompleted">
          <input type="button" value="全部標記完成" @click="markAllAsCompleted">
          <input type="button" value="全部標記未完成" @click="markAllAsUnCompleted">
          <input type="button" value="刪除全部任務" @click="deleteAllTodo">
        </span>
        
      </div>
      
    </div>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
    <script>
      let id=0;
      var app = new Vue({
        el: '#todo-app',
        data: function(){
          return {
            todoList: [],
            newTodo: '',
            beforeEdit: '',
            filter: 'all'
            
          } 
        },
        methods:{
          addTodo: function(){
            if(this.newTodo.length){
              this.todoList.push({id: id++, title: this.newTodo, completed: false, lastChange: null, isEditing: false});
              this.newTodo = '';
            }else{
              alert("請輸入todo內容");
            }
            
          },
          markCompleted: function(todo) {
            todo.completed = true;
          },
          markUncompleted: function(todo){
            todo.completed = false;
          },
          deleteTodo: function(todo){
            if(confirm('確認刪除？')){
              this.todoList.splice(this.todoList.indexOf(todo), 1);
            }
          },
          editTodo: function(todo){
            todo.lastChange = {title: this.beforeEdit, lastChange: todo.lastChange};
            todo.isEditing = false;
            console.log(todo.lastChange);
          },
          undoTodo: function(todo){
            last = todo.lastChange;
            todo.title = last.title;
            todo.lastChange = last.lastChange;
            console.log(todo);
          },
          startEdit: function(todo){
            this.beforeEdit = todo.title;
            todo.isEditing = true;
          },
          cancelEdit: function(todo){
            todo.isEditing = false;
            todo.title = this.beforeEdit;
          },
          markAllAsCompleted: function(){
            this.todoList.map(function(todo){
              todo.completed = true;
            })
          },
          markAllAsUnCompleted: function(){
            this.todoList.map(function(todo){
              todo.completed = false;
            })
          },
          deleteAllTodo: function(){
            if(confirm("確認刪除全部任務？")){
              this.todoList = [];
            }
          },
          clearCompleted: function(){
            if(confirm("確認刪除全部已完成的任務？")){
              this.todoList = this.unCompleteTodo;
            }
          }
        },
        directives:{
          focus:{
            inserted:function(el){
              el.focus();
            }
          }
        },
        computed:{
          unCompleteTodo: function(){
            return this.todoList.filter(todo => !todo.completed);
          },
          unCompleteCount: function(){
            return this.unCompleteTodo.length;
          },
          filteredTodos: function(){
            if(this.filter === 'uncomplete'){
              return this.unCompleteTodo;
            }else if(this.filter === 'completed'){
              return this.todoList.filter(todo => todo.completed);
            }else{
              return this.todoList;
            }
          }
        }
      
      })
    </script>
  </body>
</html>